* {
	box-sizing: border-box;
}

button {
	height: 90px;
	width: 290px;
	font-size: 28px;
	color: white;
	border: none;
	background-color: blue;
	/*transition-property: background-color color  width height border-radius;
	transition-duration: 3000ms;*/
	transition: background-color 3s ease-in-out 1s,
	            color 2s ease 4s, border-radius 3s ease-in 6s;
}

button:hover {
	background-color: green;
	color: black;
	width: 350px;
	height: 120px;
	border-radius: 50% 30% 50% 30%;
}

.container {
	width: 960px;
}

.move {
	margin: 2em;
	width: 150px;
	height: 50px;
	padding: 10px 15px;
	background-color: red;
	color: #fff;
	line-height: 50px;
	text-align: center;
	border-radius: .5em;
	font-size: 25px;
	transition-property: translate();
	transition-duration: 3s;
}

.move:hover {
	transform: translateX(900px);
}
	


#ease {
	transition-timing-function: ease;
}

#linear {
	transition-timing-function: linear;
}

#ease-in {
	transition-timing-function: ease-in;
}

#ease-out {
	transition-timing-function: ease-out;
}

#ease-in-out {
	transition-timing-function: ease-in-out;
}