
* {
	box-sizing: border-box;
}

body {
    perspective: 1000px;
}

img {
    display: block;
    height: 300px;
    margin: auto;
    margin-top: 200px;
    transition: transform 4s, border-radius 6s;
    transform-origin: 30% 80%;
}

img:hover {
    transform: translateZ(300px);
    border-radius: 50%;

}